<div {{bind-attr class=":options-container :z-depth-2 defaultView:collapsed:expanded"}}>
  {{#if optionsView}}
  {{partial 'demos/partials/options-header'}}
  <div class="content-wrapper options">
      <div class='options content-container'>
        {{partial 'demos/partials/function-container'}}
        {{partial 'demos/partials/deriv-location-container'}} 
      </div>
  </div>
  {{else}}
  {{partial 'demos/partials/expand-options'}}
  <div class="controls z-depth-2">
    {{partial 'demos/partials/reset-display'}}
  </div>
  {{/if}}
</div>
<div class='primary-container'></div>