<div {{bind-attr class=":options-container :z-depth-2 defaultView:collapsed:expanded"}}>
  {{#if optionsView}}
  {{partial 'demos/partials/options-header'}}
  <div class="content-wrapper options">
    <div class='options content-container'>
      {{partial 'demos/partials/axis-selection'}}
      {{partial 'demos/partials/discrete-selection'}}
      {{partial 'demos/partials/function-container'}}
      {{partial 'demos/partials/discrete-container'}}
      <div class="range-container">
        {{#paper-button classNames="sub-header" action="toggleRange" target=view}}Restrict The Integration{{/paper-button}}
        <div class="range-wrapper option-wrapper" {{action 'rangeFinished' on='mouseLeave' target=view}}>
          {{#if axisIsX}}
            {{dual-slider orientation="horizontal" action='dualBoundIntegrate' target=view}}
          {{else}}
            {{dual-slider orientation="vertical" action='dualBoundIntegrate' target=view}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{else}}
  {{partial 'demos/partials/expand-options'}}
  <div class="controls z-depth-2">
    {{partial 'demos/partials/reset-display'}}
  </div>
  {{/if}}
  
</div>
<div class='primary-container'></div>