<div {{bind-attr class=":options-container :z-depth-2 defaultView:collapsed:expanded"}}>
  {{#if optionsView}}
  {{partial 'demos/partials/options-header'}}
  <div class="content-wrapper options">
    <div class='options content-container'>
      {{partial 'demos/partials/axis-selection'}}
      {{partial 'demos/partials/discrete-selection'}}
      {{partial 'demos/partials/function-container'}}
      {{partial 'demos/partials/discrete-container'}}
      {{partial 'demos/partials/range-container'}}
      {{partial 'demos/partials/axis-container'}}
      {{#paper-button classNames="start-animation" action="startAnimation" target="view"}}<i class="fa fa-play"></i>{{/paper-button}}
    </div>
  </div>

  {{else}}
  <div class="top-controls">
    {{partial 'demos/partials/expand-options'}}
    {{partial 'demos/partials/printer-button'}}
  </div>
  <div class="controls z-depth-2">
    {{partial 'demos/partials/animation-controls'}}
    {{partial 'demos/partials/reset-display'}}
  </div>
  {{/if}}  
</div>
<div class='primary-container'></div>
{{partial 'demos/partials/printer-container'}}