<div {{bind-attr class=":scroll-arrow-background direction"}} {{action 'showIt' on='mouseEnter'}}>
<div {{action 'hideIt' on='mouseLeave'}}>
	<div {{bind-attr class=':scroll-arrow visible:visible'}} {{action 'scrollIt' on="click"}}>

	</div>
</div>
</div>