<div class="lesson-nav-bar">
	<div class="step-direction step-back">
		<i class="fa fa-chevron-left" {{action 'previousStep' on='click'}}></i>
	</div>
	<div class="step-preview">
		{{#link-to 'lessons.show.index'}}
			<div class="title-preview">
				<h2>{{title}}</h2>
				<p>By</p>
				<h4>{{fullName}}</h4>
			</div>
		{{/link-to}}
		{{#each step in steps}}
			{{#link-to 'lessons.show.step' step}}<img {{bind-attr src=step.stepUrl}}>{{/link-to}}
		{{/each}}
	</div>
	<div class="step-direction step-forward">
		<i class="fa fa-chevron-right" {{action 'nextStep' on='click'}}></i>
	</div>
</div>

<div class="lesson-main-container">
{{outlet}}
</div>